main {
  margin: 1rem;
}

header, nav {
  margin: auto;
  display: flex;
  justify-content: center;
}

.nav-button {
  margin-right: 1rem;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.activity-icon {
  margin: 2em;
}

.month-main-container {
  display: block;
}

.week-add-activity-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 250px;
}

.month-add-activity-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

.month-input-container {
  display: flex;
  flex-direction: column;
}

.activity-input {
  border: 1px solid #c0c4d6;
  border-radius: 5px;
  height: 22px;
  margin: 1px 0;
  padding: 2px 5px;
}

.empty-activity-info {
  color: #D90429;
  font-size: .8em;
  margin: 0;
}

.dispay-none {
  display: none;
}

.month-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: column;
}

.day-square {
  background-color: #EDF2F4;
  min-width: 250px;
  max-width: 400px;
  min-height: 80px;
  margin-bottom: 1rem;
}

.month-day-square {
  background-color: #EDF2F4;
  min-width: 150px;
  max-width: 200px;
  min-height: 80px;
  margin-bottom: 1rem;
}

.day-name {
  margin: 0;
}

.checkbox {
  height: 1.2em;
  margin-right: .5em;
}

.activity {
  margin-top: 0;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.remove-icon {
  height: 1.2em;
}

.save-plan-container {
  display: flex;
}

.save-button {
  margin-right: 2em;
}

.training-plans-table {
display: flex;
justify-content: center;
margin-bottom: 2em;
}

.table-item {
  border: 2px solid #c0c4d6;
  padding: 0 2em;
}

.selected-plan {
  background-color: #EDF2F4;
}

@media screen and (min-width: 670px) {

  main {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .main-container {
    max-width: 1000px;
    margin: auto;
  }

  .week-main-container {
    max-width: 70%;
    margin: auto;
  }

  .add-activity-container {
    margin-top: 0;
  }

  .month-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
  }

  .month-day-square {
    background-color: #EDF2F4;
    min-width: 150px;
    max-width: 200px;
    min-height: 80px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .logo-img {
    width: 80px;
    height: 80px;
  }

  .logo {
    font-size: 2rem;
  }

  .activity-icon {
    height: 100px;
  }

  .title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1.2em;
  }
  
}