
main {
  margin: 4rem;
}

header, nav {
  margin: auto;
  display: flex;
  justify-content: center;
}

#week-button {
  margin-right: 1rem;
}

.day-name {
  margin: 0;
}

.day-square {
  background-color: #EDF2F4;
  min-width: 250px;
  max-width: 500px;
  min-height: 80px;
  margin-bottom: 1rem;
}

.add-activity-container {
  margin-top: 2rem;
  max-width: 250px;
}

.activity {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.input-container {
  margin-bottom: 1rem;
}

@media screen and (min-width: 670px) {

  main {
    display: flex;
    justify-content: space-around;
  }

  .add-activity-container {
    margin-top: 0;
  }
}