:root {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #D90429;
  text-decoration: inherit;
}

a:hover {
  color: #D90429;
}

body {
  margin: auto;
  max-width: 1200px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

h3 {
  font-size: 1.8em;
  text-align: center;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1em 0;
  font-size: 1em;
  font-weight: 500;
  color: #EDF2F4;
  font-family: inherit;
  background-color: #D90429;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #EF233C;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #D90429;
  }
  button {
    background-color: #D90429;
  }
}
